.cart-counter {
  top: 10px;
  right: 55px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: bold;
}
