.cart-counter {
  top: 10px;
  right: 55px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  text-align: center;
  font-size: 14px;
  color: white;
  font-weight: bold;
  position: absolute;
}

@media (max-width: 480px) {
  .cart-counter {
    height: 18px;
    width: 18px;
    line-height: 18px;
    font-size: 12px;
    top: 5px;
    right: 35px;
  }
}

@media (max-width: 768px) {
  .cart-counter {
    height: 20px;
    width: 20px;
    line-height: 20px;
    font-size: 13px;
    top: 8px;
    right: 45px;
  }
}
