button {
  background-color: green;
  display: flex;
  align-items: center;
  width: 80%;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}
button:hover {
  background-color: greenyellow;
}
small {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  margin-left: 36px;
  color: gray;
}

h2 {
  color: rgb(41, 7, 195);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  align-items: center;
  margin-top: 12px;
}

span {
  margin: 8px 8px;
  font-size: 32px;
  color: rgb(121, 234, 121);
  font-weight: bold;
  margin-bottom: 8px;
}

p {
  font-size: 16px;
  color: black;
  margin: 8px 8px;
  text-align: center;
}

@media (max-width: 768px) {
  button {
    width: 90%;
    font-size: 14px;
    padding: 8px 18px;
  }

  small {
    font-size: 11px;
    margin-left: 20px;
  }

  span {
    font-size: 28px;
  }

  p {
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  button {
    width: 100%;
    font-size: 14px;
    padding: 8px 16px;
  }

  small {
    font-size: 10px;
    margin-left: 8px;
  }

  h2 {
    font-size: 20px;
  }
  span {
    font-size: 24px;
    margin: 4px;
  }

  p {
    font-size: 14px;
    margin: 4px;
  }
}
