.item-count {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 220px;
  padding: 16px;
  margin: 20px auto;

  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.item-count > button,
.item-count > span {
  margin: 4px;
}

.btnmas,
.btnres {
  width: 32px;
  height: 32px;

  border-radius: 50%;
  border: none;

  color: white;
  font-size: 18px;
  font-weight: bold;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.btnmas {
  background-color: #198754;
}

.btnres {
  background-color: #dc3545;
}

.btnnum {
  min-width: 40px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.btnadd {
  margin-top: 12px;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #394bf2;
  font-weight: bold;
  cursor: pointer;
}

.btnadd:hover {
  background-color: #03178a;
}

.item-count p {
  text-align: center;
  font-weight: bold;
}

@media (max-width: 768px) {
  .item-count {
    width: 200px;
    padding: 14px;
  }

  .btnmas,
  .btnres {
    width: 30px;
    height: 30px;
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .item-count {
    width: 180px;
    padding: 12px;
  }

  .btnadd {
    font-size: 14px;
    padding: 8px;
  }
}

.muestraDetalle {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
