.nav-container {
  background-color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  height: 60px;
}

.anchors {
  text-decoration: none;
  color: rgb(57, 238, 57);
  font-size: 40px;
  cursor: pointer;
}

.active {
  text-decoration: none;
  color: whitesmoke;
  font-size: 40px;
  cursor: pointer;
}

.contador {
  text-decoration: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav-container {
    padding: 1.5rem;
    height: auto;
  }

  .anchors,
  .active {
    font-size: 28px;
  }
}

@media (max-width: 600px) {
  .nav-container {
    flex-direction: column;
    gap: 10px;
    height: auto;
    padding: 1rem;
  }

  .anchors,
  .active {
    font-size: 22px;
  }
}
